<phpunit 
  bootstrap="tests/bootstrap.php"
  colors="true"
  verbose="true"
>
   
  <testsuites>
    <testsuite name="zenprint">
      <directory>./tests/unit</directory>
    </testsuite>
  </testsuites>
     
  <groups>
    <exclude>
      <group></group>
    </exclude>
  </groups>
      
  <logging>
    <log type="coverage-html" target="test-reports" charset="UTF-8" yui="true" />
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <exclude>
        <file>src/AutoLoader.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
