<phpunit 
  bootstrap="tests/bootstrap.php"
  colors="true"
  verbose="true"
>
   
  <testsuites>
    <testsuite name="zenprint">
      <directory>./tests/unit</directory>
    </testsuite>
  </testsuites>
     
  <groups>
    <exclude>
      <group></group>
    </exclude>
  </groups>
      
  <logging>
    <log type="coverage-html" target="test-reports" charset="UTF-8" yui="true" />
  </logging>
</phpunit>
